<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>时代在线</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css?1}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-td-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">时代在线</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/112/400/400">Username01
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" th:href="@{/logout}"><i class="sign-out icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle button black m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-padded-tb-big m-container ">
    <div class="ui container">
        <div class="ui grid stackable">
            <!--左-->
            <!-左侧的列-->
            <div class=" four wide column" >
                <!-搜索--->
                <div class="ui segments ui sticky " >
                    <div class="ui secondary segment">
                        <div class="ui column grid">
                            <div class="column">
                                <i class="idea icon"></i>查询
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment center aligned" >
                        <div class="ui form">
                            <div class="grouped fields">
                                <label>查询项目</label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="/all" name="address" checked="checked">
                                        <label>所有</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="/isSiblingof" name="address">
                                        <label>并列知识点</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="/hasPreK" name="address">
                                        <label>前序知识点</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="/hasPostK" name="address">
                                        <label>后继知识点</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="/relatedBook" name="address">
                                        <label>relatedBook</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui  search dropdown  selection dropdown">
                            <input type="hidden" name="find" id="find">
                            <i class="dropdown icon"></i>
                            <div class="default text">查询的知识点</div>
                            <div class="menu">
                                <div class="item" data-value="1" th:each="zhishidian:${zhishidianList}"
                                     th:text="${zhishidian}" th:data-value="${zhishidian}">
                                    三角形
                                </div>
                                <!--/*-->
                                <div class="item" data-value="1">
                                    四边形
                                </div>
                                <!--*/-->
                            </div>
                        </div>
                        <div class="ui button" id="search" onclick="search()">
                            查询
                        </div>
                    </div>
                </div>
            </div>

            <!-右侧的top-->
            <div class="twelve wide column">
                <!--header-->
                <div class="ui segment top attached">
                    <div class="ui grid  column center aligned">
                        <div class="column">
                            <h3 class="ui teal header">图形展示</h3>
                        </div>
                    </div>
                </div>
                <!--content--->
                <div class="ui attached segment">
                    <div class="ui padded  segment vertical  m-padded-tb-big">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div id="dom" class="m-div">
                                <div class=" active ui inverted dimmer">
                                    <div class="ui text loader">图像渲染中</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部footer-->
<footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui grid divided stackable inverted">
            <div class="three wide  column">
                <h4 class="ui inverted header">关于</h4>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">地址</h4>
                <p>安徽省合肥市</p>
            </div>
            <div class="three wide  column">
                <h4 class="ui inverted header">...</h4>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header"></h4>
                <p>@2020</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced">邮编：231131 电话：xxx QQ：885515333 E-mail：885515333@qq.com</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
<!--<script src="../static/js/echarts.js" th:src="@{/js/echarts.js}"></script>-->
<script>
    $('.ui.sticky').sticky();
   var zhi=null;
    function search() {
        $(".active.ui.inverted.dimmer").show();
        if (zhi==null){
            zhi=$("#find").val()
        }
        var url=$("[name='address']:checked").val();
        $.ajax({
            url: url,
            data: {find: zhi },
            type: "POST",
            dataType: "json",
            success: function (result) {
                eval("var data=" + result["NOTE"]);
                eval("var link=" + result["LINK"]);
                // data = jQuery.parseJSON(datass);  //dataType指明了返回数据为json类型，故不需要再反序列化
                // link = jQuery.parseJSON(linkss);  //dataType指明了返回数据为json类型，故不需要再反序列化
                var myChart = echarts.init(document.getElementById('dom'));
                var categories = [];
                categories[0] = {
                    name: '当前搜索'
                };
                categories[1] = {
                    name: '兄弟关系实例'
                };
                categories[2] = {
                    name: '前继后继关系实例'
                };
                categories[3] = {
                    name: '所属章节'
                };
                categories[4] = {
                    name: '教材版本'
                };
                /* for (var i = 0; i < 3; i++) {
                categories[i] = {
                    name: '类目' + i
                };
            } */
                option = {
                    // 图的标题
                    title: {
                        text: ''
                    },
                    // 提示框的配置
                    tooltip: {
                        formatter: function (x) {
                            return x.data.des;
                        }
                    },
                    // 工具箱
                    toolbox: {
                        // 显示工具箱
                        show: true,
                        feature: {
                            mark: {
                                show: true
                            },
                            // 还原
                            restore: {
                                show: true
                            },
                            // 保存为图片
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    legend: [{
                        // selectedMode: 'single',
                        data: categories.map(function (a) {
                            return a.name;
                        })
                    }],
                    series: [{
                        type: 'graph', // 类型:关系图
                        layout: 'force', //图的布局，类型为力导图
                        symbolSize: 40, // 调整节点的大小
                        roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
                        legendHoverLink: true,//是否启用图例 hover(悬停) 时的联动高亮。
                        hoverAnimation: false,//是否开启鼠标悬停节点的显示动画
                        edgeSymbol: ['circle', 'arrow'],
                        edgeSymbolSize: [2, 10],
                        edgeLabel: {
                            normal: {
                                textStyle: {
                                    fontSize: 20
                                }
                            }
                        },
                        force: {
                            repulsion: 2000,
                            edgeLength: [10, 50],
                            layoutAnimation: true,//因为力引导布局会在多次迭代后才会稳定，这个参数决定是否显示布局的迭代动画，在浏览器端节点数据较多（>100）的时候不建议关闭，布局过程会造成浏览器假死。
                        },
                        draggable: true,
                        //focusNodeAdjacency : true,
                        lineStyle: {
                            normal: {
                                width: 4,
                                color: '#4b565b',
                            }
                        },
                        edgeLabel: {
                            normal: {
                                show: true,
                                formatter: function (x) {
                                    return x.data.name;
                                }
                            }
                        },
                        label: {
                            normal: {
                                show: true,
                                textStyle: {}
                            }
                        },
                        // 数据
                        data: data,
                        links: link,
                        /*
                    links: [{
                     source: 'node01',
                     target: 'node02',
                     name: 'link01',
                     des: 'link01des'
                     }], */
                        categories: categories,
                    }]
                };

                /* setTimeout(()=> {
            myChart.setOption(option);
            }, 500) ; */
                echarts.init(document.getElementById('dom')).dispose();//销毁前一个实例
                var myChart = echarts.init(document.getElementById('dom'));//构建下一个实例
                myChart.setOption(option);
                $(".active.ui.inverted.dimmer").hide();
                myChart.on('click', function (params) {
                     zhi = params.name;
                    search();
                 });
            }
        });
        zhi=null;
    }

    $.ajax({
        url: "/first",
        data: {find: "MathKChuzhong",is :false },
        type: "POST",
        dataType: "json",
        success: function (result) {
            eval("var data=" + result["NOTE"]);
            eval("var link=" + result["LINK"]);
            // data = jQuery.parseJSON(datass);  //dataType指明了返回数据为json类型，故不需要再反序列化
            // link = jQuery.parseJSON(linkss);  //dataType指明了返回数据为json类型，故不需要再反序列化
            var myChart = echarts.init(document.getElementById('dom'));
            var categories = [];
            categories[0] = {
                name: '当前搜索'
            };
            categories[1] = {
                name: '兄弟关系实例'
            };
            categories[2] = {
                name: '前继后继关系实例'
            };
            categories[3] = {
                name: '所属章节'
            };
            categories[4] = {
                name: '教材版本'
            };
            /* for (var i = 0; i < 3; i++) {
            categories[i] = {
                name: '类目' + i
            };
        } */
            option = {
                // 图的标题
                title: {
                    text: ''
                },
                // 提示框的配置
                tooltip: {
                    formatter: function (x) {
                        return x.data.des;
                    }
                },
                // 工具箱
                toolbox: {
                    // 显示工具箱
                    show: true,
                    feature: {
                        mark: {
                            show: true
                        },
                        // 还原
                        restore: {
                            show: true
                        },
                        // 保存为图片
                        saveAsImage: {
                            show: true
                        }
                    }
                },
                legend: [{
                    // selectedMode: 'single',
                    data: categories.map(function (a) {
                        return a.name;
                    })
                }],
                series: [{
                    type: 'graph', // 类型:关系图
                    layout: 'force', //图的布局，类型为力导图
                    symbolSize: 40, // 调整节点的大小
                    roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
                    legendHoverLink: true,//是否启用图例 hover(悬停) 时的联动高亮。
                    hoverAnimation: false,//是否开启鼠标悬停节点的显示动画
                    edgeSymbol: ['circle', 'arrow'],
                    edgeSymbolSize: [2, 10],
                    edgeLabel: {
                        normal: {
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    force: {
                        repulsion: 2000,
                        edgeLength: [10, 50],
                        layoutAnimation: false,//因为力引导布局会在多次迭代后才会稳定，这个参数决定是否显示布局的迭代动画，在浏览器端节点数据较多（>100）的时候不建议关闭，布局过程会造成浏览器假死。
                    },
                    draggable: true,
                    //focusNodeAdjacency : true,
                    lineStyle: {
                        normal: {
                            width: 4,
                            color: '#4b565b',
                        }
                    },
                    edgeLabel: {
                        normal: {
                            show: true,
                            formatter: function (x) {
                                return x.data.name;
                            }
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            textStyle: {}
                        }
                    },
                    // 数据
                    data: data,
                    links: link,
                    /*
                links: [{
                 source: 'node01',
                 target: 'node02',
                 name: 'link01',
                 des: 'link01des'
                 }], */
                    categories: categories,
                }]
            };

            /* setTimeout(()=> {
        myChart.setOption(option);
        }, 500) ; */
            echarts.init(document.getElementById('dom')).dispose();//销毁前一个实例
            var myChart = echarts.init(document.getElementById('dom'));//构建下一个实例
            myChart.setOption(option);
            $(".active.ui.inverted.dimmer").hide();
            myChart.on('click', function (params) {
                zhi = params.name;
                search();
            });
        }
    });
</script>

<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'//鼠标移上去就触发
    });
</script>
</body>
</html>